<FlexboxLayout class="page">
    <StackLayout class="form">
        <Label class="header" text="Palette Pal"></Label>
        <StackLayout class="input-field">
            <TextField required class="username" hint="Username" autocorrect="false" autocapitalizationType="none"
                (textChange)="confirmUserName($event)"></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
        <StackLayout class="input-field">
            <TextField required #password class="password" hint="Password"
                secure="true" (textChange)="confirmPassword($event)"></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
        <Button text="Create New Account" (tap)="createNewAcc()" class="btnCreateNewAcc"></Button>
    </StackLayout>
    <Label class="guest" text="I don't want to create an account" (tap)="guest()"></Label>
</FlexboxLayout>