.page {
    align-items: center;
    flex-direction: column;
  }
.form {
  margin-left: 30;
  margin-right: 30;
  width: 90%;
  vertical-align: middle;
}

.logo {
  margin-bottom: 12;
  height: 90;
  font-weight: bold;
}
.header {
  font-size: 25;
  font-weight: 600;
  margin-bottom: 70;
  text-align: center;
  margin-top: 100; 
}

.input-field {
  margin-bottom: 25;
}

.username {
  font-size: 18;
}

.password {
  font-size: 18;
}

.btnCreateNewAcc {
  height: 50;
  margin: 30 5 15 5;
  background-color: #404040;
  border-radius: 5;
  font-size: 20;
  color: white;
}

.validation {
    background-color: #a94442;
    color: #ffffff;
}

.guest {
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 20px;
}

.usernameError{
    font-size: 18;
    text-align: center;
    margin-top: 10px;
    color: #BF0000;
}

.passwordError{
    font-size: 18;
    text-align: center;
    margin-top: 10px;
    color: #BF0000;
}