<ActionBar class="action-bar" title="New Palette">
    <NavigationButton android.systemIcon="ic_menu_back" text="Back to ActionBar" (tap)="goBack()"></NavigationButton>
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
</ActionBar>
<FlexboxLayout justifyContent="space-around" flexDirection="column" class="main-container">
    <FlexboxLayout flexDirection="column">
        <Label class="info-text" text="Name your palette: "></Label>
        <TextField required class="palette-name" hint="Palette name" autocorrect="true" 
            (textChange)="setPaletteName($event)" autocorrect="false"></TextField>
        <Label *ngIf="!this.valid" text="Invalid"></Label>
    </FlexboxLayout>
    <Label class="info-text" text="All palettes are 2 rows by 3 columns"></Label>
    <FlexboxLayout flexDirection="column">
        <Label class="proceed" text="I want to choose my own colors" (tap)="custom()"></Label>
        <Label class="proceed" text="Get me started with a theme" (tap)="theme()"></Label>
    </FlexboxLayout>
</FlexboxLayout>