.page {
    align-items: center;
    flex-direction: column;
}

.form {
    margin-left: 30;
    margin-right: 30;
    width: 90%;
    vertical-align: middle;
}

.logo { 
    margin-top: 30;
    margin-bottom: 12;
    height: 90;
    font-weight: bold;
}

.error-message {
    color: #a94442;
}

.header {
    font-size: 25;
    font-weight: 600;
    margin-bottom: 70;
    text-align: center;
}

.input-field {
    margin-bottom: 25;
}
.username {
    font-size: 18;
}

.password {
  font-size: 18;
}

.btnLogin {
  height: 50;
  margin: 30 5 15 5;
  background-color: #404040;
  border-radius: 5;
  font-size: 20;
  color: white;
}

.guest {
  text-decoration: underline;
  margin-top: 10px;
}