.page {
    align-items: center;
    flex-direction: column;
  }
  .form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
  }
  
  .logo {
    margin-bottom: 12;
    height: 90;
    font-weight: bold;
  }
  .header {
    horizontal-align: center;
    font-size: 25;
    font-weight: 600;
    margin-bottom: 70;
    text-align: center;
    color: #D51A1A;
  }
  
  .input-field {
    margin-bottom: 25;
  }
  .username {
    font-size: 18;
    placeholder-color: #A8A8A8;
  }
  
  .password {
    font-size: 18;
    placeholder-color: #A8A8A8;
  }
  
  .btnLogin {
    height: 50;
    margin: 30 5 15 5;
    background-color: #D51A1A;
    border-radius: 5;
    font-size: 20;
  }
  
  .validation {
      background-color: #a94442;
      color: #ffffff;
  }
  
  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }