<FlexboxLayout class="page">
    <StackLayout class="form">
        <Label class="header" text="Palette Pal"></Label>

        <StackLayout class="input-field">
            <TextField class="input" hint="Username" autocorrect="false"
                autocapitalizationType="none" [(ngModel)]="user.Username"
                returnKeyType="next" (returnPress)="focusPassword()"></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>

        <StackLayout class="input-field">
            <TextField #password class="input" hint="Password" secure="true"
                [(ngModel)]="user.password" [returnKeyType]="isLoggingIn ? 'done' : 'next'"
                (returnPress)="focusConfirmPassword()"></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>

        <StackLayout *ngIf="!isLoggingIn" class="input-field">
            <TextField #confirmPassword class="input" hint="Confirm password"
                secure="true" [(ngModel)]="user.confirmPassword"
                returnKeyType="done"></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>

        <Button [text]="<Button text=" Login" (tap)="login()" class="btnLogin"></Button>
        <Button [text]="<Button text=" Create Account" (tap)="createAccount()"></Button>
    </StackLayout>
    <Label class="guest" text="I don't want to create an account" (tap)="guest()"></Label>

</FlexboxLayout>