<FlexboxLayout class="page" alignItems="center" justifyContent="center">
    <StackLayout class="form">
        <Image *ngIf="this.valid" src="~/app/images/cactus.png" width="110"></Image> 
        <Image *ngIf="!this.valid" src="~/app/images/sadcactus.png" width="110"></Image> 
        <Label class="logo" text="Palette Pal"></Label>
        <Label *ngIf="!this.valid" text="Username or password is invalid." class="error-message"></Label> 
        <StackLayout class="input-field"> 
            <TextField required class="username" hint="Username" autocorrect="false" autocapitalizationType="none"
                (textChange)="confirmUserName($event)"></TextField>
        </StackLayout>
        <StackLayout class="input-field">
            <TextField required #password class="password" hint="Password"
                secure="true" (textChange)="confirmPassword($event)"></TextField>
        </StackLayout>
        <Button text="Login" (tap)="login()" class="btnLogin"></Button>
        <Button text="Create Account" (tap)="createNewAcc()"></Button>
    </StackLayout>
    <Label class="guest" text="I don't want to create an account" (tap)="guest()"></Label>
</FlexboxLayout>