.welcome-message {
    font-size: 20px;
    margin: 100px;
}

.palettes-container {
    margin: 100px;
    overflow: hidden;
}

.palette-preview{
    width: 520px;
    height: 300px;
    margin: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: #dcdfe3;
    border-radius: 20%;
}

.palette {
    margin: 50px 50px 15px 50px;
    height: 120px;
}

.color-preview {
    width: 16%;
}

.palette-name {
    color:  #919191;
    margin-bottom: 20px;
    font-size: 16px;
}

.new-palette {
    width: 520px;
    height: 300px;
    margin: 50px;
    border-style: dotted;
    border-width: 3px;
    border-color: #dcdfe3;
    border-radius: 20%;
}

.plus-sign {
    color:  #919191;
    font-size: 50px;
    margin: 0px 50px -20px 50px;
}
