<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" android.systemIcon="ic_menu_back" (tap)="goBack()" android.position="popup"></NavigationButton>
        <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
            ios.position="left">
        </ActionItem>
    <Label class="action-bar-title" text="Choose Theme"></Label>
        <ActionItem icon="res://menu" (tap)="onDrawerButtonTap()" ios.position="right" android.position="action-bar">
    </ActionItem>
</ActionBar>
<FlexboxLayout flexDirection="column" alignItems="center" class="main-container">
    <Label text="Pick a colour to base your theme on:"></Label>
    <ListPicker [items]="colors" selectedIndex="0" class="color-picker" (selectedIndexChange)="selectedColorIndexChanged($event)"></ListPicker>
    <Label text="Choose one of the following themes: "></Label>
    <FlexboxLayout *ngFor="let theme of this.getThemes()" class="palette-preview" flexDirection="column" 
        (tap)="tapTheme(theme)" justifyContent="center" alignItems="center">
        <FlexboxLayout flexDirection="row" class="palette">
            <Label *ngFor="let color of theme.colors" backgroundColor="{{color}}" class="color-preview"></Label>
        </FlexboxLayout>
        <Label text="{{theme.name}}"></Label>
    </FlexboxLayout>
</FlexboxLayout> 